mixin header
	header.header.wrap.wrap--header
		a(href="#").header__logotype Президент России
		.nav
			a(href="#").nav__item События
			a(href="#").nav__item Структура
			a(href="#").nav__item Видео и фото
			a(href="#").nav__item Документы
			a(href="#").nav__item Контакты
			a(href="#").nav__item Поиск
