.crumbs {
    display: inline-flex;
    align-items: center;
    height: max-content;
    gap: 4px;

    &__item {
        font-size: 12px;
        font-weight: 600;
        color: #656565;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        gap: 5px;
    }

    &__item:not(:first-child)::before {
        display: block;
        content: "";
        width: 7px; 
        height: 9px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("../images/main/arrow-right.png");
    }
}